<h2>My positions</h2>
<ul class="positions">
  <li *ngFor="let position of positions"  (click)="onSelect(position)">
    <span class="badge">{{position.id}}</span> {{position.title}}
  </li>
</ul>

<div *ngIf="selectedPosition">
  <h2>{{selectedPosition.title | uppercase}} Details</h2>

  <div>
	  <label for='id'>ID: </label>
	  <input id='id' [(ngModel)]='selectedPosition.id' placeholder='ID'>
  </div>

  <div>
	  <label for='title'>Title: </label>
	  <input id='title' [(ngModel)]='selectedPosition.title' placeholder='Title'>
  </div>

  <div>
	  <label for='dept'>Department: </label>
	  <input id='dept' [(ngModel)]='selectedPosition.department' placeholder='department'>
  </div>

  <div>
	  <label for='status'>Status: </label>
	  <input id='status' [(ngModel)]='selectedPosition.status' placeholder='status'>
  </div>

  <div>
	  <label for='date'>Created Date: </label>
	  <input id='date' [(ngModel)]='selectedPosition.creationDate' placeholder='Created Date'>
  </div>
  
</div>