<h2>My positions</h2>
<ul class="positions">
  <li *ngFor="let position of positions">
    <a routerLink='/positionDetail/{{position.id}}'> 
    	<span class='badge'>{{position.id}}</span>
    	<span>{{position.title}}</span>
    </a>
    <button class="delete" title="delete position" (click)="delete(position)">x</button>
  </li>
</ul>

<div>
  <h2>New Position</h2>

  <div>
	  <label for='title'>Title: </label>
	  <input id='title' [(ngModel)]='newPosition.title' placeholder='Title'>
  </div>

  <div>
	  <label for='dept'>Department: </label>
	  <input id='dept' [(ngModel)]='newPosition.department' placeholder='department'>
  </div>

  <div>
	  <label for='status'>Status: </label>
	  <input id='status' [(ngModel)]='newPosition.status' placeholder='status'>
  </div>

  <div>
	  <label for='date'>Created Date: </label>
	  <input id='date' [(ngModel)]='newPosition.creationDate' placeholder='Created Date'>
  </div>
  
  <button class='add-button' (click)="add(newPosition)">Add Position</button>
</div>